<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ article_obj.blog.userinfo.jx3_name }}__{{ article_obj.title }}</title>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/bootstrap-3.3.7/css/bootstrap.min.css">
    <script src="/static/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/awesome/css/font-awesome.min.css">

    <style>
        .logo {
            width: 30px
        }

        .navbar-brand {
            padding-top: 10px;

        }

        .hotArticle {
            border: 1px solid #cccccc;
        }


        .hotArticleList {
            list-style: none;
        }

        .article {
            list-style: none;
            padding-left: 3px;
        }

        .avatar {
            padding-right: 10px;
        }

        .desc {
            margin: 10px 0;
        }

        hr {
            margin: 10px 0;
        }


        .head_avatar {
            margin-top: 8px;
        }


        .head_avatar img {
            width: 35px;
            height: 35px;
            border-radius: 50%;
        }

        .site_name {
            text-indent: 30px;
        }

        .name {
            font-size: 30px;
        }


    </style>
</head>
<body>
{#导航条#}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'home' %}">
                <img class="logo" src="/static/image/logo.png" alt="" title="首页">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class=""><a href="#">树洞 <span class="sr-only">(current)</span></a></li>
                <li><a href="{% url 'playerview' %}">陪玩</a></li>
            </ul>
            <form class="navbar-form navbar-left" method="get" action="/search/" target="_blank">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="输入关键字" name="q">
                </div>
                <input type="submit" class="btn btn-default" value="搜索">
            </form>
            <ul class="nav navbar-nav navbar-right">
                {% if request.user.is_authenticated %}
                    <li>
                        <div class="head_avatar">
                            <img src="{{ request.user.avatar }}" alt="" class="">
                            <a href="http://api.jx3blog.cn:8000/user/{{ request.user.username }}/site/{{ request.user.pk }}/">{{ request.user.jx3_name }}</a>
                        </div>

                    </li>
                    <li><a href="http://api.jx3blog.cn:8000/user/backend/article/">后台管理</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">更多操作 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="">个人中心</a></li>
                            <li><a href="">个人资料</a></li>
                            <li><a href="">修改密码</a></li>
                            <li><a href="">修改头像</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="" class="logout">注销</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li><a href="{% url 'register' %}">注册</a></li>
                    <li><a href="{% url 'login' %}">登陆</a></li>
                {% endif %}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="row">
    <div class="container-fluid">
        <div class="col-md-4 site_name">
            <a href="http://api.jx3blog.cn:8000/user/{{ user_obj.username }}/site/{{ user_obj.pk }}/"><i
                    class="name">{{ user_obj.jx3_name }}</i></a>
            <span>&nbsp;&nbsp;&nbsp;&nbsp;{{ user_obj.desc }}</span>
        </div>
        <div class="col-md-5"></div>
        <div class="col-md-3 article_desc">
            <span class="">
                文章 -
                <a href="http://api.jx3blog.cn:8000/user/{{ user_obj.username }}/site/{{ user_obj.pk }}/">
                    {{ article_num }}
                </a>
                评论 - 287
            </span>
        </div>
    </div>
</div>

<hr>

<div class="container-fluid">
    <div class="row">
        <div class="body1">
            <div class="col-md-3">
                <div>
                    <ul>分类
                        {% for tag in tag_list %}
                            <li>
                                <a href="http://api.jx3blog.cn:8000/user/{{ user_obj.username }}/tag/{{ tag.2 }}/">{{ tag.0 }}({{ tag.1 }})</a>
                            </li>
                        {% endfor %}
                    </ul>
                    <ul>标签
                        {% for category in category_list %}
                            <li>
                                <a href="http://api.jx3blog.cn:8000/user/{{ user_obj.username }}/category/{{ category.2 }}/">{{ category.0 }}({{ category.1 }})</a>
                            </li>
                        {% endfor %}
                    </ul>
                    <ul>时间归档
                        {% for date in date_list %}
                            <li>
                                <a href="http://api.jx3blog.cn:8000/user/{{ user_obj.username }}/archive/{{ date.0|date:'Y-m' }}/">{{ date.0|date:"Y年m月" }}({{ date.1 }})</a>
                            </li>
                        {% endfor %}

                    </ul>
                </div>


            </div>
            <div class="col-md-7">
                <div>
                    <h1>{{ article_obj.title }}</h1>
                </div>
                <hr>
                <div>
                    {{ article_obj.content }}
                </div>
                <hr>
                <div class="pull-right visible-lg-inline">
                    <i class="fa fa-thumbs-o-up up_btn" aria-hidden="true">&nbsp;点赞(<span
                            id="id_up_num">{{ article_obj.up_num }}</span>)</i>
                    <i class="fa fa-thumbs-o-down down_btn" aria-hidden="true">点踩(<span
                            id="id_down_num">{{ article_obj.down_num }}</span>)&nbsp;&nbsp;&nbsp;</i>
                    <p class="msg text-center"></p>
                </div>


                <ul class="list-group">
                    {% for comment in comment_list %}
                        <li class="list-group-item">
                            <div>
                                <span>#{{ forloop.counter }}楼</span>
                                <span>{{ comment.create_time|date:'Y-m-d' }}</span>
                                <span><a
                                        href="http://api.jx3blog.cn:8000/user/{{ comment.user.username }}/site/{{ comment.user.pk }}/">{{ comment.user.jx3_name }}</a></span>
                                <span class="pull-right reply" comment_id="{{ comment.pk }}"
                                      username="{{ comment.user.username }}"><a>回复</a>
                                </span>
                                <div>
                                    {% if comment.parent %}
                                        <p>@&nbsp;{{ comment.parent.user.jx3_name }}</p>
                                    {% endif %}
                                    {{ comment.content }}
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>



                {% if request.user.is_authenticated %}
                    <div>
                        <p><span class="glyphicon glyphicon-comment"></span>发布评论</p>
                        <p>昵称:<input type="text" id="tbCommentAuthor" class="author" disabled="disabled" size="50"
                                     value="{{ request.user.jx3_name }}"></p>
                        <p>评论内容:</p>
                        <p>
                            <textarea name="" id="id_comment" cols="60" rows="10"></textarea>
                        </p>
                        <p>
                            <button class="btn btn-primary" id="id_submit">提交评论</button>
                        </p>
                    </div>
                {% endif %}

            </div>

            {#            广告位#}
            <div class="col-md-2">
                广告位广告位广告位广告位广告位广告位广告位广告位广告位广告位广告位广告位广告位广告位广告位广告位广告位广告位
                广告位广告位广告位广告位广告位广告位广告位广告位广告位广告位广告位广告位广告位广告位广告位广告位广告位广告位
                广告位广告位广告位广告位广告位广告位广告位广告位广告位广告位广告位广告位广告位广告位广告位广告位广告位广告位
                广告位广告位广告位广告位广告位广告位广告位广告位广告位广告位广告位广告位广告位广告位广告位广告位广告位广告位
                广告位广
            </div>
        </div>
    </div>
</div>


<script>
    let $msg = $(".msg");
    $('.up_btn').click(function () {
        $.ajax({
            url: "{% url 'up_or_down' %}",
            method: 'post',
            data: {
                'is_up': 1,
                'article_id':{{ article_id }},
            },
            success: function (data) {
                if (data.status_code === 1) {
                    let up_num = $("#id_up_num");
                    up_num.text(Number(up_num.text()) + 1);

                    $msg.text(data.msg);

                    let msg_time = setTimeout(clock, 3000);

                    function clock() {
                        $msg.text('');
                        clearTimeout(msg_time)
                    }
                } else {
                    $msg.text(data.msg);
                    let msg_time = setTimeout(clock1, 3000);

                    function clock1() {
                        $msg.text('');
                        clearTimeout(msg_time)
                    }
                }
            }
        })
    });

    $('.down_btn').click(function () {
        $.ajax({
            url: "{% url 'up_or_down' %}",
            method: 'post',
            data: {
                'is_up': 0,
                'article_id':{{ article_id }},
            },
            success: function (data) {
                if (data.status_code === 1) {
                    let down_num = $("#id_down_num");

                    down_num.text(Number(down_num.text()) + 1);
                    console.log(data.msg);
                    $msg.text(data.msg);

                    let msg_time = setTimeout(clock, 3000);

                    function clock() {
                        $msg.text('');
                        clearTimeout(msg_time)
                    }
                } else {
                    $msg.text(data.msg);
                    let msg_time = setTimeout(clock1, 3000);

                    function clock1() {
                        $msg.text('');
                        clearTimeout(msg_time)
                    }
                }
            }
        })
    });


    $(".logout").click(function () {
        $.ajax({
            url: "{% url 'logout' %}",
            method: 'get',
            data: '',
            success: function (data) {
                console.log(111, window.location.href);
                location.href = window.location.href
            }

        })
    });

    // 评论逻辑代码
    // 定义一个全局的parentId变量名
    let parentId = '';
    $('#id_submit').click(function () {
        // 获取textarea内容
        let $content = $('#id_comment').val();
        // 判断parentId是否有值才能确定是否切内容
        if (parentId) {
            let indexVal = $content.indexOf('\n') + 1;
            $content = $content.slice(indexVal);
            console.log($content)
        }
        $.ajax({
            url: "{% url 'comment' %}",
            type: 'post',
            data: {
                'article_id': '{{ article_obj.pk }}',
                'content': $content,
                'parent_id': parentId,
            },
            success: function (data) {
                if (data.code == 1) {
                    let userName = '{{ request.user.username }}';
                    let content = $content;
                    let tempStr = `
                        <li class="list-group-item">
                            <div>
                                <span><a href="/${userName}/">${userName}:</a></span>
                                <p>
                                    ${content}
                                </p>
                            </div>
                        </li>
                        `;
                    // 查找url标签 添加子元素
                    $(".list-group").append(tempStr);
                    // 将textarea框中的内容清空
                    $('#id_comment').val('');
                    // 将全局的parentId清空
                    parentId = ''
                }
            }
        })
    });
    // 回复按钮逻辑代码
    $('.reply').click(function () {
        // 1.把你想评论的那条评论的人名自动添加到textarea中(@+用户名)  如何获取评论人名？
        let pUserName = $(this).attr('username');
        let pCommentId = $(this).attr('comment_id');
        // 2.自动换行
        $('#id_comment').val('@' + pUserName + '\n');
        //3.textarea自动聚焦
        $('#id_comment').focus();
        // 4.将全局的parentId赋值
        parentId = pCommentId;
    })

</script>


</body>


</html>