<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/bootstrap-3.3.7/css/bootstrap.min.css">
    <script src="/static/bootstrap-3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h2 class="text-center">修改头像</h2>
            <form action="" method="post" enctype="multipart/form-data">
                 {% csrf_token %}
                <div class="form-group">
                <label for="id_username">用户名</label>
                <input type="text" name="username" id="id_username" class="form-control" disabled value="{{ request.user.username }}">
            </div>
                <div class="form-group">
                <label for="id_confirm_password">头像</label>
                <input type="file" name="myavatar" id="id_confirm_password" class="form-control">
            </div>
            <button class="btn btn-success" id="id_button">修改头像</button>
            </form>
        </div>
    </div>
</div>


</body>
</html>