<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../../../static/bootstrap-3.3.7/css/bootstrap.min.css">
    <script src="../../../static/bootstrap-3.3.7/js/bootstrap.min.js"></script>

    <style>
        .special {
            text-align: center;
        }

        .right_ymg {
            padding-right: 0;
        }


        .left_ymg {
            padding-left: 0;
        }
    </style>

</head>
<body>
<div class="row">
    <div class="list-inline ">
        <div class="col-md-1 col-md-offset-2 right_ymg">
            <div class="panel panel-default">
                <div class="panel-body ">
                    <ul style="list-style: none" class="list-inline">
                        <li class="special">
                            <div class="special">
                                <a href="">全部
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6 left_ymg">
            <div class="panel panel-default">
                <div class="panel-body ">
                    <ul style="list-style: none" class="list-inline">
                        <li>
                            <div class="geli">
                                <p><a href="">奔驰</a></p>
                            </div>

                        </li>
                        <li>
                            <div class="geli">
                                <p><a href="">宝马</a></p>
                            </div>
                        </li>
                        <li>
                            <div class="geli">
                                <p><a href="">奥迪</a></p>
                            </div>
                        </li>
                        <li>
                            <div class="geli">
                                <p><a href="">保时捷</a></p>
                            </div>
                        </li>
                        <li>
                            <div class="geli">
                                <p><a href="">路虎</a></p>
                            </div>
                        </li>
                        <li>
                            <div class="geli">
                                <p><a href="">野马</a></p>

                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>