<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../../../static/bootstrap-3.3.7/css/bootstrap.min.css">
    <script src="../../../static/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../../../static/awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../../static/anniu/honeySwitch.css">
    <script src="../../../static/anniu/honeySwitch.js"></script>


    <style>
        .logo {
            width: 30px
        }

        .navbar-brand {
            padding-top: 10px;

        }


        hr {
            margin: 10px 0;
        }


        .head_avatar {
            margin-top: 8px;
        }


        .head_avatar img {
            width: 35px;
            height: 35px;
            border-radius: 50%;
        }


    </style>


</head>
<body>
{#导航条#}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'home' %}">
                <img class="logo" src="../../../static/image/logo.png" alt="" title="首页">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class=""><a href="#">树洞 <span class="sr-only">(current)</span></a></li>
                <li><a href="{% url 'playerview' %}">陪玩</a></li>
            </ul>
            <form class="navbar-form navbar-left" method="get" action="/search/" target="_blank">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="输入关键字" name="q">
                </div>
                <input type="submit" class="btn btn-default" value="搜索">
            </form>
            <ul class="nav navbar-nav navbar-right">
                {% if request.user.is_authenticated %}
                    <li>
                        <div class="head_avatar">
                            <img src="{{ request.user.avatar }}" alt="" class="">
                            <a href="http://api.jx3blog.cn:8000/user/{{ request.user.username }}/site/{{ request.user.pk }}/">{{ request.user.jx3_name }}</a>
                        </div>
                    </li>
                    <li><a href="http://api.jx3blog.cn:8000/user/backend/article/">后台管理</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">更多操作 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="">个人中心</a></li>
                            <li><a href="">个人资料</a></li>
                            <li><a href="">修改密码</a></li>
                            <li><a href="">修改头像</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="" class="logout">注销</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li><a href="{% url 'register' %}">注册</a></li>
                    <li><a href="{% url 'login' %}" class="login">登陆</a></li>
                {% endif %}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>


<div class="container-fluid">
    <div class="row">
        <div class="body1">
            <div class="col-md-2">
                <a href="{% url 'setplayerinfo' %}">陪玩资料设置</a>
            </div>

            <div class="col-md-10">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation">
                        <a href="http://api.jx3blog.cn:8000/user/backend/article/" data-toggle="">文章管理</a>
                    </li>
                    <li role="presentation" class="active">
                        <a href="http://api.jx3blog.cn:8000/user/backend/userinfo/" data-toggle="">个人资料</a>
                    </li>
                    <li role="presentation">
                        <a href="http://api.jx3blog.cn:8000/user/backend/other/" data-toggle="">更多</a>
                    </li>
                </ul>
                <div>
                    <h3>资料设置</h3>
                    <form action="" method="post" enctype="multipart/form-data">
                        <p>
                            <label for="id_jx3_name">昵称 &nbsp;&nbsp;&nbsp;</label>
                            <input type="text" id="id_jx3_name" name="jx3_name" value="{{ request.user.jx3_name }}">
                        </p>
                        <div>
                            <p><label for="id_desc">个人简介</label></p>
                            <input id="id_desc" name="desc" value="{{ request.user.desc }}" style="width: 600px">
                        </div>
                        <br>
                        <div>
                            <label for="id_avatar">头像
                                <img src="{{ request.user.avatar }}" title="选择头像" width="80" id="head_img"
                                     style="margin-left: 20px">
                            </label>
                            <input type="file" id="id_avatar" name="avatar" style="display: none;">
                        </div>
                        <br>
                        <input type="submit" class="btn btn-success">
                    </form>

                </div>


            </div>

        </div>
    </div>
</div>



<script>
    let url = window.location.href;
    $(".logout").click(function () {
        $.ajax({
            url: "{% url 'logout' %}",
            method: 'get',
            data: '',
            success: function (data) {
                console.log(111, window.location.href);
                location.href = url
            }
        })
    });


</script>


</body>


</html>