<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../../../static/bootstrap-3.3.7/css/bootstrap.min.css">
    <script src="../../../static/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../../../static/awesome/css/font-awesome.min.css">

    <style>
        .logo {
            width: 30px
        }

        .navbar-brand {
            padding-top: 10px;

        }

        .hotArticle {
            border: 1px solid #cccccc;
        }


        .hotArticleList {
            list-style: none;
        }

        .article {
            list-style: none;
            padding-left: 3px;
        }

        .avatar {
            padding-right: 10px;
        }

        .desc {
            margin: 10px 0;
        }

        hr {
            margin: 10px 0;
        }


        .head_avatar {
            margin-top: 8px;
        }


        .head_avatar img {
            width: 35px;
            height: 35px;
            border-radius: 50%;
        }


    </style>


</head>
<body>
{#导航条#}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'home' %}">
                <img class="logo" src="../../../static/image/logo.png" alt="" title="首页">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class=""><a href="#">树洞 <span class="sr-only">(current)</span></a></li>
                <li><a href="{% url 'playerview' %}">陪玩</a></li>
            </ul>
            <form class="navbar-form navbar-left" method="get" action="/search/" target="_blank">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="输入关键字" name="q">
                </div>
                <input type="submit" class="btn btn-default" value="搜索">
            </form>
            <ul class="nav navbar-nav navbar-right">
                {% if request.user.is_authenticated %}
                    <li>
                        <div class="head_avatar">
                            <img src="{{ request.user.avatar }}" alt="" class="">
                            <a href="http://api.jx3blog.cn:8000/user/{{ request.user.username }}/site/{{ request.user.pk }}/">{{ request.user.jx3_name }}</a>
                        </div>
                    </li>
                    <li><a href="http://api.jx3blog.cn:8000/user/backend/article/">后台管理</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">更多操作 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="">个人中心</a></li>
                            <li><a href="">个人资料</a></li>
                            <li><a href="">修改密码</a></li>
                            <li><a href="">修改头像</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="" class="logout">注销</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li><a href="{% url 'register' %}">注册</a></li>
                    <li><a href="{% url 'login' %}" class="login">登陆</a></li>
                {% endif %}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>


<div class="container-fluid">
    <div class="row">
        <div class="body1">
            <div class="col-md-2">
                <a href="{% url 'addarticle' %}">添加树洞</a>
            </div>
            <div class="col-md-10">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation">
                        <a href="http://api.jx3blog.cn:8000/user/backend/article/" data-toggle="">文章管理</a>
                    </li>
                    <li role="presentation">
                        <a href="http://api.jx3blog.cn:8000/user/backend/userinfo/" data-toggle="">个人资料</a>
                    </li>
                    <li role="presentation" class="active">
                        <a href="http://api.jx3blog.cn:8000/user/backend/other/" data-toggle="">更多</a>
                    </li>
                </ul>

                <table class="table table-condensed">
                    <thead>
                    <!--一个tr表示一行-->
                    <tr>
                        <th>序号</th>
                        <th>标题</th>
                        <th>评论数</th>
                        <th>阅读数</th>
                        <th>操作</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <br>
                    <tbody>

                    {% for article in page_queryset %}
                        <tr>
                            <td>{{ article.pk }}</td>
                            <td>
                                <a href="http://api.jx3blog.cn:8000/user/{{ article.blog.userinfo.username }}/article/{{ article.pk }}/">{{ article.title }}</a>
                            </td>
                            <td>{{ article.comment_num }}</td>
                            <td>{{ article.look_num }}</td>
                            <td><a href="http://api.jx3blog.cn:8000/article/editarticle/{{ article.pk }}/">编辑</a></td>
                            <td><a href="{% url 'delete_article' %}?article_id={{ article.pk }}">删除</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="pull-right">
                    {{ page_obj.page_html|safe }}
                </div>

            </div>
        </div>
    </div>
</div>

<script>
    let url = window.location.href;
    $(".logout").click(function () {
        $.ajax({
            url: "{% url 'logout' %}",
            method: 'get',
            data: '',
            success: function (data) {
                console.log(111, window.location.href);
                location.href = url
            }
        })
    });

</script>


</body>


</html>